.item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.icon {
    fill: var(--inverted-secondary-color);
    margin-top: 7px;
}

.link {
    margin-top: 10px;
}

.collapsed {
    .link {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        width: 0;
    }
}
