.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    fill: var(--inverted-secondary-color);
}

.link {
    line-height: 1;
    margin-bottom: -2.5px;
}

.collapsed {
    .link {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        width: 0;
    }
}
