.ArticleViewSelector {
    .button {
        fill: var(--inverted-secondary-color);

        &.selected {
            fill: var(--primary-color);
        }
    }
}

.ArticleViewSelectorRedesigned {
    display: flex;
    gap: 8px;

    .notSelected {
        color: var(--light-bg-redesigned);
    }
}
