.ListBox {
    position: relative;
}

.trigger {
    background: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    min-width: fit-content;
    gap: 8px;
}

.label {
    &.disabled {
        opacity: 0.7;
    }
}

.options {
    position: absolute;
    margin-top: 8px;
    background: var(--listbox-bg);
    z-index: 10000;
    box-shadow: 10px 10px 25px -10px var(--listbox-bg);
    overflow: hidden;
}

.optionsBottomLeft {
    left: 0;
}

.optionsBottomRight {
    right: 0;
}

.optionsTopRight {
    bottom: 100%;
    right: 0;
    margin-bottom: 8px;
}

.optionsTopLeft {
    bottom: 100%;
    left: 0;
    margin-bottom: 8px;
}

.item {
    padding: 8px 15px;
    cursor: pointer;

    &.active {
        background: var(--inverted-primary-color);
    }

    &.selected {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    &.disabled {
        cursor: default;
        opacity: 0.7;
    }
}
