.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.loading,
.error {
    min-height: 160px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}

.ProfileCardRedesigned {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
