.app_green_theme {
    --bg-color: #f4fafb;
    --inverted-bg-color: #04326b;
    --primary-color: #001145;
    --secondary-color: #0c4d8d;
    --inverted-primary-color: #dde2e3;
    --inverted-secondary-color: #dbe4ff;

    // Skeleton
    --skeleton-color: #0c54ac;
    --skeleton-shadow: #052c5bd4;

    // Code
    --code-bg: #fff;

    // Card
    --card-bg: #cdd4d5;

    // Listbox
    --listbox-bg: #cdd4d5;
}
