.Button {
    cursor: pointer;
    color: var(--text-redesigned);
    padding: 8px 16px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--accent-redesigned);

        .startIcon svg,
        .endIcon svg {
            transition: color 0.3s ease-in-out;
            color: var(--accent-redesigned);
        }
    }
}

.withStartIcon,
.withEndIcon {
    padding: 0 16px;
}

.withEndIcon {
    padding-right: 4px;
}

.outline {
    border: 1px solid var(--icon-redesigned);
    border-radius: 32px;
    background: none;

    &:hover {
        border: 1px solid var(--accent-redesigned);
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.filled {
    background: var(--light-bg-redesigned);
    border: none;
    outline: none;
    border-radius: 34px;
}

.disabled {
    opacity: 0.5;
    cursor: default;
}

.startIcon,
.endIcon {
    display: flex;
}

.startIcon svg,
.endIcon svg {
    color: var(--hint-redesigned);
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.m {
    font: var(--font-m-redesigned);
}

.l {
    font: var(--font-l-redesigned);
}

.xl {
    font: var(--font-xl-redesigned);
}
