.Card {
    &.none {
        border: none;
    }

    &.s {
        padding: 8px;
    }

    &.m {
        padding: 16px;
    }

    &.l {
        padding: 24px;
    }
}

.default {
    border-radius: 12px;
}

.rounded {
    border-radius: 40px;
}

.normal {
    background: var(--dark-bg-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.outline {
    border: 1px solid var(--accent-redesigned);
}
