.Card {
    border-radius: 32px;

    &.s {
        padding: 0;
    }

    &.m {
        padding: 16px;
    }

    &.l {
        padding: 24px;
    }
}

.normal {
    background: var(--dark-bg-redesigned);
}

.light {
    background: var(--light-bg-redesigned);
}

.outline {
    border: 1px solid var(--accent-redesigned);
}
