.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 8px 16px;
    border: 1.5px solid var(--icon-redesigned);
    height: 38px;
    width: 100%;
}

.startIcon,
.endIcon {
    display: flex;
}

.withStartIcon {
    padding-left: 8px;
}

.withEndIcon {
    padding-right: 8px;
}

.focused {
    border: 1.5px solid var(--accent-redesigned);

    .startIcon svg,
    .endIcon svg {
        color: var(--accent-redesigned);
    }
}

.Input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-redesigned);
    background: none;

    &::placeholder {
        color: var(--hint-redesigned);
    }

    &:focus {
        outline: none;
    }
}

.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.label {
    white-space: nowrap;
    min-width: 80px;
}
